<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>{{profile.user.username}}</h2>-->
<!--</body>-->
<!--</html>-->
{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профіль користувача</title>
    <link rel="stylesheet" href="{% static 'styles_profile.css' %}">
</head>
<body>

    <div class="profile-container">
        <div class="profile-header">
            <img src="{% static 'img/default_avatar.png' %}" alt="Аватар" class="avatar">
            <div class="profile-info">
                <h2>{{ profile.user.username }}</h2>
                <p>{{ profile.user.full_name }}</p>
                <div class="stats">
                    <span>Дописи: {{ profile.user.posts_count }}</span>
                    <span>Читачі: {{ profile.user.followers_count }}</span>
                    <span>Відстежуються: {{ profile.user.following_count }}</span>
                </div>
                <a href="{%url 'user:edit_profile' username=profile.user.username %}"><img src="{% static 'img/edit.png' %}" alt="edit"></a>
            </div>
        </div>

        <div class="profile-posts">
            {% for post in profile.user.posts.all %}
                <div class="post">
                        {% for image in post.images.all %}
                         <img src="{{ image.image.url }}" alt=" 404 ">
                    {% endfor %}
                            {{ post.caption }}
                    <p>{{ post.likes }} лайків</p>
                </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>